@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared css */
.display-flex {
    display:flex;
}

.text-gray {
    color:#424242;
}
.text-light-gray {
    color:#727272;
}

.text-primary {
    color:#FF900E;
}

.bg-light {
    background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color:#FF900E;
    color:white;
    border:none;
    border-radius: 8px;
    padding:20px 25px;
    font-size:20px;
    font-weight: 600px;

}
#experience-button {
    padding: 46px 42px;
    margin-left:-100px;
    margin-top: -100px;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}


/* navbar related style */

.brand {
    font-weight: 700;
    font-size: 3rem;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    justify-content: space-between;
    
}

.navbar, .banner {
    max-width:1440px;
    margin:0 auto;
}


/* banner style area */
.banner-content {
    max-width: 868px;
    text-align: center;
    margin:0 auto;
    margin-bottom:50px;
}
.banner-title {
    font-size:4rem;
    font-weight: 700;
    color:#131313;
    margin-bottom:25px;
}
.banner-description {
    font-size: 1rem;
    line-height: 16px;
    margin-bottom:32px;
}
.banner-image {
    width:100%;
}

main {
    max-width:1440px;
    margin:0 auto;
}
main > section {
    margin-top:130px;
}



/* team feature style css */
.teams{
    align-items: center;
}

.team-image-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.our-feature {
    margin-left:130px;
    max-width: 537px;
}

#quick-list {
    font-weight: 500;
}
.feature-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

/* fact and card style css */

.facet-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.fact-card {
    border:1px solid #FF900E;
    padding:20px;
    max-width: 241px;
    max-height: 241px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    
}

.fact-card h4 {
    font-size:45px;
    font-weight: 600;
    margin-top:5px;
    margin-bottom:10px;
}
.fact-card h5 {
    font-size:16px;
    font-weight: 600;
    color:#727272;
    margin:0 10px;
}
.fact-head  {
    max-width: 542px;
    margin-bottom: 100px;
}


/* features text and girl image style */

    .feature {
        display:flex;
        gap:140px;
    }
    .feature-heading-text {
        font-size:45px;
        font-weight: bold ;
        color: #131313;
        border-left: 5px solid #FF900E;
        padding-left: 21px;
        margin-bottom: 24px;
    }
    .feature-subheading-text {
        margin-bottom: 30px;
    }
    .card-badge {
        padding:30px;
        margin-bottom: 20px;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
        border-radius: 8px;
    }
    .card-heading {
        margin-top:0px;
        margin-bottom: 10px;
        font-size: 1.25rem;
        font-weight: 600;

    }
    #experience-bold {
        font-size:4.06rem;
        font-weight: bold;
        line-height: 70px;
    }
    #experience-p {
        font-size: 25px;
        font-weight: 500;
        line-height: 40px;
    }

/* sponsor related style */

.sponsor-info {
    max-width:542px;
    justify-content: center;
    text-align: center;
    margin:0 auto;
}
.sponsor-info p {
    margin-top:24px;
    margin-bottom: 50px;

}
.sponsors-company {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-company img {
    filter:grayscale(100%)
}


@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .feature
     {
        flex-direction: column;
    }
    .sponsors-company {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap:50px;
    }
    .team-image-container, 
    .facet-container {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .our-feature {
        margin : 30px auto;
    }
    .facet-container{
    justify-items: center;
    }
    .fact-card {
        max-width:241px;
        width: 100%;
        margin-top:20px;
    }
    .sponsors-company {
        justify-items: center;
    }
    #experience-button {
    padding: 15px 50px;
    margin-left: 45px;
    margin-top: 20px;
}
#experience-bold {
        font-size:2.5rem;
        font-weight: bold;
}
.feature-image img {
    width:100%;
}
}

/* responsive for medium display device */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .feature {
        flex-direction: column;
    }
    .our-feature {
        margin: 50px auto;
    }
    .facet-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    }
    .fact-card {
       width:100%;
       max-width: 300px;
       margin:0 auto;
        
    }
     .sponsors-company {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
        justify-items: center;
    }
        #experience-button {
        padding: 15px 50px;
        margin-left: 45px;
        margin-top: 20px;
}
#experience-bold {
        font-size:2.5rem;
        font-weight: bold;
}
.feature-image img {
    width:100%;
}

}