@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared css */
.display-flex {
    display:flex;
}

.text-gray {
    color:#424242;
}
.text-light-gray {
    color:#727272;
}

.text-primary {
    color:#FF900E;
}

.bg-light {
    background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color:#FF900E;
    color:white;
    border:none;
    border-radius: 8px;
    padding:20px 25px;
    font-size:20px;
    font-weight: 600px;

}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}


/* navbar related style */

.brand {
    font-weight: 700;
    font-size: 3rem;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    justify-content: space-between;
    
}

.navbar, .banner {
    max-width:1440px;
    margin:0 auto;
}


/* banner style area */
.banner-content {
    max-width: 868px;
    text-align: center;
    margin:0 auto;
    margin-bottom:50px;
}
.banner-title {
    font-size:4rem;
    font-weight: 700;
    color:#131313;
    margin-bottom:25px;
}
.banner-description {
    font-size: 1rem;
    line-height: 16px;
    margin-bottom:32px;
}
.banner-image {
    width:100%;
}

main {
    max-width:1440px;
    margin:0 auto;
}
main > section {
    margin-top:130px;
}



/* team feature style css */
.teams{
    align-items: center;
}

.team-image-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.our-feature {
    margin-left:130px;
    max-width: 537px;
}

#quick-list {
    font-weight: 500;
}
.feture-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams
     {
        flex-direction: column;
    }
    .team-image-container {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .our-feature {
        margin : 30px auto;
    }
}

/* responsive for medium display device */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
    .our-feature {
        margin: 50px auto;
    }
}